.flexBox {
    display: flex;
    align-items: center;
    place-content: center;
}
.generalTexts{
    color: white;
    font-family: DosisLight;
}
.centeredTexts{
    color: white;
    font-family: DosisLight;
    text-align: center;
}
.layer{
    position: absolute;
}
.card{
    margin-top: 10px;
    width: 250px;
    height: 300px;
    border: 3px #2b2b2b solid;
    color: white;
    text-align: center;
    font-family: DosisLight;
}